<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disponibilidad - Sabor Gourmet</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="container mt-4">

    <h2>Disponibilidad para 
        <span th:text="${fecha}"></span>
    </h2>

    <div class="mb-3">
        <a href="/reservas" class="btn btn-outline-secondary btn-sm">Volver a reservas</a>
    </div>

    <div th:if="${error}">
        <div class="alert alert-danger" th:text="${error}"></div>
    </div>

    <h4 class="mt-3">Mesas disponibles</h4>

    <div th:if="${#lists.isEmpty(mesasDisponibles)}">
        <div class="alert alert-danger mt-2">
            No hay mesas disponibles para este día.
        </div>
    </div>

    <form th:if="${!#lists.isEmpty(mesasDisponibles)}" th:action="@{/reservas/crear}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="fecha" th:value="${fecha}" />

        <div class="list-group mt-3">
            <label class="list-group-item" th:each="mesa : ${mesasDisponibles}">
                <input type="radio" name="mesaId" th:value="${mesa.id}" required />
                <strong th:text="${mesa.nombre}"></strong>
            </label>
        </div>

        <hr />

        <div>
            <label>Cantidad de personas:</label>
            <input type="number" min="1" max="20" name="cantidadPersonas"
                   class="form-control mb-3" required />

            <button class="btn btn-success">Reservar</button>
        </div>
    </form>

    

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>